html {
  box-sizing: border-box;
}

body {
  margin: 0;
}
 /* --- Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 800px) {

  section, h1 {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }

}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 3;
  margin: 10px;
}


img {
 width: 100%;
}

.name-position {
  align-items: flex-start;
}


.icon {
  width: 50px;
}

 /***** HEADER *****/

 header {
    height: 765px;
    background-image: url('../img/blob.jpg');
    background-size: cover;
    background-position: center;
}

header h1 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 75px;
    margin-top: 10px;
    margin-bottom: -30px;
    margin-left: 25px;
    color: #bbc085;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
    display: flex;
}

header h2 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 50px;
    margin-top: 0px;
    margin-left: 90px;
    color: #EAD2AC;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
    display: flex;
}

.main-nav, nav {
    font-family: 'Bowlby One SC', cursive;
    margin: 0px;
    padding: 5px 25px;
    display: flex;
}
.main-nav, nav ul li{
    display: inline-flex;
}
.main-nav, nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: #FE938C;
    padding: 15px;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
}

/***** intro *****/
#intro {
        background: #EAD2AC;
        margin: 0 auto;
        display: flex;
}

 #intro .full-width {
     padding: 0 0;
 }

 #intro h2 {
     font-family: 'Bowlby One SC', cursive;
     color: #FE938C;
     margin-top: 100px;
     font-size: 75px;
     text-shadow: -1px 1px 0 #000,
          1px 1px 0 #000,
         1px -1px 0 #000;
        -1px -1px 0 #000;
 }

 #intro p {
     font-size: 35px;
     font-family: 'Share', cursive;
     color: #334147;
     line-height: 50px;
 }

 #intro img {
   margin: 70px;
   border: 10px solid #bbc085;
   display: flex;
 }

  /***** ABOUT *****/

#about {
       background-color: #FE938C;
        margin: 0 auto;
        display: flex;
       }

#about h2 {
    font-family: 'Bowlby One SC', cursive;
    color: #EAD2AC;
    margin: 10px;
    font-size: 60px;
    text-shadow: -1px 1px 0 #000,
         1px 1px 0 #000,
        1px -1px 0 #000;
       -1px -1px 0 #000;
    display: flex;
}

#about p, #about ul, #about li {
    font-size: 30px;
    font-family: 'Share', cursive;
    color: #334147;
    line-height: 50px;
    margin-bottom: 50px;
}

#about p {
  margin-right: 30px;
}

#services {
  border: 20px solid #334147;
  background: #bbc085;
  padding: 0px;
  margin-left: 100px;
  margin-right: 10px;

}

#about ul, #about li {
  font-size: 40px;
}



 /***** WORK *****/

 #projects {
      background-color: #334147;
      margin: 0 auto;
      }


#projects h2 {
    font-family: 'Bowlby One SC', cursive;
    color: #EAD2AC;
    font-size: 60px;
    text-align: left;
    margin: 0px;
    padding-top: 35px;
    text-shadow: -1px 1px 0 #000,
         1px 1px 0 #000,
        1px -1px 0 #000;
       -1px -1px 0 #000;
      display: flex;
      }

#stay-tuned {
    font-family: 'Share', cursive;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 35px;
    text-align: left;
    font-size: 20px;
    color: #EAD2AC;
}

#projects img {
          padding-bottom: 30px;
      }

#projects h3 {
          font-family: 'Share', cursive;
          font-size: 24px;
          color: #EAD2AC;
          line-height: 32px;
          margin: 0 auto;
          width: 190px;
          text-align: center;
      }

#projects p {
          font-family: 'Share', cursive;
          color: #EAD2AC;
          font-size: 19px;
          line-height: 30px;
          padding: 0 25px 25px 25px;
          text-align: justify;
      }

/***** contact *****/

#contact {
        background-color: #A3A3A3;
        font-family: 'Share', cursive;
        margin: 0 auto;
      }


#cowboys  {
   padding-top: 50px;
   margin-left: 25px;
   display: flex;
}


#contact h2, #contact, #email, #contact ul {
   padding-left: 30px;
}

#contact h2 {
   font-family: 'Bowlby One SC', cursive;
   font-size: 100px;
   margin-top: 20px;
   padding: 30px;
   color: #FE938C;
   text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
       1px -1px 0 #000;
      -1px -1px 0 #000;
    display: flex;
}

#contact a {
   text-decoration: none;
   color: #334147;
   font-size: 40px;
   text-align: right;
}


#email:link    { color: #334147;  }
#email:visited { color: #06D6A0;   }
#email:hover   { color: #EF476F; }
#email:active  { color: #FFD166;  }

#contact ul {
   list-style: none;
   display: flex;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
   padding-right: 48px;
}
