/***** BASE STYLES *****/
body {
      font-family: 'Source Sans Pro', sans-serif;
      color: #2b2b2b;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

 .half-width {
    width: 600px;
    float: left;

 }

 .third-width {
    width: 400px;
    float: left;
 }

 /***** HEADER *****/

 header {
    height: 765px;
    background-image: url('../img/blob.jpg');
    background-size: cover;
    background-position: center;
}

header h1 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 60px;
    color: #bbc085;
    padding: 30px 0 65px 25px;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
}

nav {
    font-family: 'Bowlby One SC', cursive;
    float: right;
    padding: 75px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: #FE938C;
    padding: 15px;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
}

header h2 {
    width: 1100px;
    clear: both;
    font-family: 'Share', cursive;
    font-size: 52px;
    line-height: 120px;
    color: #FE938C;
    text-align: right;
    padding: 400px 0 0 100px;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
}
header h2 span {
    color: #bbc085;
}

/***** ABOUT *****/
#about {
        background: linear-gradient(
         to right,
         #E6B89C 0%,
         #E6B89C 50%,
         #EAD2AC 50%,
         #EAD2AC 100%
        );
}


 #about .full-width {
     padding: 10px 0;
 }

 #about h2 {
     font-family: 'Bowlby One SC', cursive;
     color: #334147;
     font-size: 50px;
     padding-left: 50px;

 }

 #about p, ol {
     font-size: 28px;
     font-family: 'Share', cursive;
     color: #334147;
     line-height: 50px;
     padding-left: 50px;
     padding-right: 50px;

 }

 #about ol {
   font-size: 40px;
   padding-left: 100px;
   line-height: 55px;
 }

  /***** PROJECTS *****/
  #projects {
       background-color: #FE938C;
       text-align: center;
       font-family: 'Bowlby One SC', cursive;
       font-size: 80px;
       color: #EAD2AC;
       text-shadow: -1px 1px 0 #000,
   				  1px 1px 0 #000,
   				 1px -1px 0 #000;
   				-1px -1px 0 #000;
       }

  #projects .full-width {
                 padding: 20px 0;
             }

 /***** WORK *****/

 #non-tech-work {
      background-color: #334147;
      text-align: center;
      }

#non-tech-work .full-width {
          padding: 30px 0;
      }
#non-tech-work h2 {
    font-family: 'Bowlby One SC', cursive;
    color: #EAD2AC;
    font-size: 50px;
    padding-left: 50px;
    text-align: left;
      }

#non-tech-work img {
          padding-bottom: 30px;
      }

#non-tech-work h3 {
          font-family: 'Share', cursive;
          font-size: 24px;
          color: #EAD2AC;
          line-height: 32px;
          width: 190px;
          margin: 0 auto;
      }

#non-tech-work p {
          font-family: 'Share', cursive;
          color: #EAD2AC;
          font-size: 19px;
          line-height: 30 px;
          padding: 0 50px;
      }

       /***** contact *****/

#contact {
         background-color: #A3A3A3;
         font-family: 'Share', cursive;

       }


#contact .full-width {
          padding: 50px 0;
}

#contact img#contact-img {
    padding-top: 50px;
    margin-left: 25px;
}


#contact h2, #contact, #email, #contact ul {
    padding-left: 30px;
}

#contact h2 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 100px;
    color: #FE938C;
    text-shadow: -1px 1px 0 #000,
         1px 1px 0 #000,
        1px -1px 0 #000;
       -1px -1px 0 #000;
}

#contact a {
    text-decoration: none;
    color: #334147;
    font-size: 30px;
    text-align: right;
}

#email {
        font-size: 100px;

}

#email:link    { color: #334147;  }
#email:visited { color: #06D6A0;   }
#email:hover   { color: #EF476F; }
#email:active  { color: #FFD166;  }

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}
